<% @title = "Snippets for #{@user}" %>

<% @snippets.each do |s| %>
  <% div_for(s) do %>
    Date: <%= s.created_at %> <br>
    Title: <%= s.title %> <br>

    <p> <%= s.contents %> </p>
  <% end %>

<% end %>
